.row
  .col-lg-12
    .reviewer_name
      = review.author_name
    .div
      = time_ago_in_words(DateTime.strptime(review.time.to_s,'%s'))
    .div.stars.stars0{class: "stars#{review.rating.to_i}"}
    .div
      = review.text
