// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
  height:100%;
}

body {
  height:100%;
  background: #C7CACA;
}

table {
  border: 1px solid;
  border-radius: 5px;
  width: 75% !important;
  margin-bottom: 30px;
}

table thead {
  background-color: gray;
}

table th {
  padding:5px;
}

table td {
  padding:10px;
}

.fieldset {
  padding: 15px;
  width:60%;
  float: none;
  margin: 0 auto;
}

.fieldset p {
  font-size:55px;
  color:#302A2B;
  margin: 45px 0;
}

.field-section label {
  color:#302A2B;
  font-size:20px;
  margin-top:5px;
}

.field-section span {
  float:none;
  margin: 0 auto
}

.field-section {
  padding: 15px 0;
}

.field-section span input {
  float: right;
  padding: 5px 25px;
  border-radius: 5px;
  background-color: rgb(236, 215, 72);
  border: 1px solid rgb(189, 172, 57);
}

.field-section span input:hover {
  background-color: #F9E563;
}


.header-input {
  padding: 10px 10px;
  margin-right: 25px;
  border-radius: 5px;
  border: 1px solid rgb(200, 200, 172);
}

.success {
  color: green;
}

.error {
  color: red;
}

.stars, .stars0
{
  background: transparent asset-path("stars.png") no-repeat top left;
  width:100px;
  height:20px;
  float:left;
  display:block;
  margin-right: 5px;
  margin-top: -2px;
}
.stars1 {background-position:-20px;}
.stars2 {background-position:-40px;}
.stars3 {background-position:-60px;}
.stars4 {background-position:-80px;}
.stars5 {background-position:-100px;}

.reviewer_name {
  font-weight: bold;
}

.wrapper{
  margin-left: 50px;
}

.reviews{
  margin-top: 30px;
}

.reviews .row{
  margin-bottom: 23px;
}